* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
}
/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Open+Sans:wght@300&family=Teko:wght@300;400&display=swap');

.personalFont{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fontTeko{
    font-family: 'Teko', sans-serif;
}
.fontPlex{
    font-family: 'IBM Plex Mono', monospace;
}
.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}
/*Classes gerais*/
.container{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}
.w25{
    width:25%;
}
.w33{
    width:33%;
}
.w50{
    width:50%;
}
.w100{
    width:100%;
}
.text-center{
    text-align:center;
}
.imgRedes{
    width:50px;
}
.imgRedes:hover{
  width:53px;
}
.top{
    padding:2% 0 2% 0;
}
.bottom{
  padding-bottom:60px;
}
.bg{
  background-color: #24093d;
}
.white{
    color:white;
}
.m-right{
    margin-right:5px;
}
.navbar{
    background-color: #24093d;
    width: 100%;
}
.uppercase{
    text-transform:uppercase;
}
.icone-img{
    width:70px;
    height:auto;
}
.divisor{
  width:100%;
  height:2px;
  background-color:white;
}
/*RESPONSIVO*/
@media only screen and (max-width: 1024px) {
  .resp-l{
    width:100%;
  }

}
@media only screen and (max-width: 768px) {
    .logomarca{
        width:100%;
        margin-top:15px;
    }
    .menu{
        width:100%;
    }
    .redes{
        width:100%;
        margin-top:5px;
        padding-bottom:25px;
    }
    .resp-m{
        width:50%;
    }
    .resp-f{
        width:100%;
    }
  }
  @media only screen and (max-width: 400px) {
    .img-projetos{
      width:300px !important ;
      height:300px;
    }
  }

  @media only screen and (max-width: 350px) {
    .sobre-redes{
       visibility: hidden;
      }
  }
  @media only screen and (max-width: 300px) {
    .resp-m{
        width:100%;
    }
    .img-projetos{
      width:250px !important ;
      height:250px;
    }
  }

  /*Classes especificas*/
  /*nav*/
  nav{
    margin-top:10px;
  }
  nav > a{
    text-decoration:none;
    color:white;
    font-size:20px;
    padding-left:15px;
    padding-right:15px;
  }
  nav > a:hover{
    background: #ddd;
    color:rgb(44, 62, 80);
  }
  /*sobre*/
  .sobre{
    padding:120px 2% 120px 2%;
    height:100%;
    max-height:700px;
    min-height:700px;
    background-image:url('../midias/imagens/capa.png');
    background-position:initial;
    background-repeat:no-repeat;
    background-size:cover;
  }
  .sobre h2{
    font-size:50px;
  }
  .sobre p{
    padding-top:2%;
    font-size:20px;
  }
  .sobre-redes{
    padding-top:80px;
    margin:0 auto;
  }
  .sobre-redes a{
    color:yellow;
    padding-right:20px;
    font-size:larger;
  }
  /*habilidades*/
  .habilidades{
    background-color: #24093d;
  }
  .habilidades > .chamada > h2{
    padding:40px 2% 40px 2%;
    font-size:30px;
  }
  .habilidades > .container > .w25 > h2{
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding:0 2% 40px 2%;
  }
  /*projetos*/
  .projetos{
    padding-top:60px;
  }
  .projetos > h2 {
    font-size:30px;
    padding-top:2%;
  }
  .img-projetos{
    width:400px;
    height:400px;
    padding: 60px 2% 20px 2%;
  }
  .img-projetos:hover{
    width:405px;
    height:405px;
  }
  .projetos > .container > .single > h2 > a{
    color:white;
    text-decoration:none;
  }
  .projetos > .container > .single > p{
    padding:15px 2% 20px 2%;
  }
  /*footer*/
  footer > .container > .w50{
    padding:40px 2% 140px 2%;
  }
  footer > h3{
    padding:30px 2% 0 2%;
  }
  footer > .container > .w50 > h2{
    padding: 0 2% 10px 2%;
  }
  footer > .container > .w50 > p{
    padding-bottom:5px;
  }
  footer > .container > .w50 > p > a{
    color:yellow;
  }
